<div id="account-div">
    <% if (title) { %>
        
        <h1 id="account-h"><%= title %></h1>
        <% } else {
          res.redirect('/')
        } %>
        <%- messages() %>

        <% if (errors) { %>
            <ul class="notice2">
           <% errors.array().forEach(error => { %>
             <li><%= error.msg %></li>
          <%  }) %>
           </ul>
          <% } %>

          <h2>You're logged in</h2>
