<div id="account-div">
    <% if (title) { %>
        
        <h1 id="account-h"><%= title %></h1>
        <%- messages() %>
        <% } else {
          res.redirect('/')
        } %>
        <div class="login-container">
            <form action="/login" method="POST">
                <label>Email:<input type="email" name="account_email" required></label>
                <label>Password:<input type="password" name="account_password" required></label>
                <button type="submit">Login</button>
            </form>
            <div class="regiter-box">No account? <a href="/account/register">Sign-up</a></div>
        </div>
    </div>

