<section>
<h1>Welcome to CSE Motors!</h1>
<div id="container1">
  <div id="overview">
  <h2>DMC Delorean</h2>
  <ul>
    <li>3 Cup holders</li>
    <li>Superman doors</li>
    <li>Fuzzy dicel</li>
  </ul>
  <div >
    <img src="/images/site/own_today.png" alt="Click to own it!" class="button"/>
  </div>
</div>
  <div>
    <picture>
      <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 400px)">
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean vehicle" id="hero-img"/>
    </picture>
    
  </div>
</div>
<div>
  <h2>DMC DeLorean Reviews</h2>
  <div id="review-list">
  <ul>
    <li>"So fast it's almost like traveling in time" (4/5)</li>
    <li>"Coolest ride on the road" (4/5)</li>
    <li>"I'm feeling McFly" (5/5)</li>
    <li>"The most futuristic ride of our day" (4.5/5)</li>
    <li>"80's livin and I love it" (5/5)</li>
  </ul>
</div>
</div>
<h2>Delorean Updates</h2>
<div id="updates">
  
  <div>
    <div class="img-cont">
    <img src="/images/upgrades/flux-cap.png" alt="flux-cap" />
  </div>
    <div>
    <a href="/">Flux Capacitor</a>
  </div>
  </div>
  <div>
    <div class="img-cont">
    <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
  </div>
    <div>
    <a href="/">Flame Decals</a>
  </div>
  </div>
  <div>
    <div class="img-cont">
    <img
      src="/images/upgrades/bumper_sticker.jpg"
      alt="Bumper sticker"
    />
  </div>
    <div>
    <a href="/">Bumper Stickers</a>
  </div>
  </div>
  <div>
    <div class="img-cont">
    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
  </div>
    <div>
    <a href="/">Hub Caps</a>
  </div>
  </div>
</div>
</section>