@media only screen and (min-width: 64rem) {
    * {
        width: 90%;
        margin: 0 auto;
    }

    body {
        background-image: url("/images/site/checkerboard.jpg");
        /* background-clip: content-box; */
    }

    #wrapper {
        background-color: white;
        color: black;
    }

    #container1 {
        height: 400px;
    }

    #hero-img {
        z-index: 1;
    }
}