@media only screen and (min-width: 64rem) {
  #top-header {
    padding: 2rem;
  }

  body {
    background-image: url("/images/site/checkerboard.jpg");
  }

  #wrapper {
    width: 60%;
    margin: 0 auto;
    color: black;
    margin-top: 40px;
    border: 10px solid gray;
  }

  main {
    margin: 0 auto;
  }

  header,
  footer,
  nav,
  main {
    background-color: white;
  }

  h1 {
    padding: 2rem;
    margin: 0;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  nav ul {
    margin: 0 10px 0 10px;
  }

  #container1 {
    height: 400px;
    width: 100%;
    position: relative;
  }

  #overview {
    margin-top: 2rem;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    align-items: center;
    top: 0;
    left: 15%;
    z-index: 2;
  }

  #hero-img {
    position: absolute;
    width: 700px;
    left: 300px;
    z-index: 1;
  }

  #overview h2,
  ul li {
    font-size: 30px;
  }
  .grid {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-areas: "updates reviews";
    justify-content: center;
    align-items: center;
  }
  #reviews {
    grid-area: reviews;
    margin-left: 3rem;
  }
  #updates {
    grid-area: updates;
    margin-left: 2rem;
  }
  #review-list ul li {
    font-size: 30px;
    line-height: 45px;
  }
  footer p {
    background-color: white;
    padding: 3rem;
    margin: 0;
  }

  /* classification view */
  #inv-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  #inv-display li {
    width: 400px;
  }
  #inv-display img {
    height: auto;
  }
  .namePrice {
    padding: 1em;
  }
  /* item view */
  .itemView {
    display: grid;
    grid-template-columns: 1fr 400px;
  }

  .itemView img {
    width: 90%;
    height: 350px;
    grid-column: 1;
    grid-row: 2/5;
    margin: 0 auto;
  }
  .itemView h2,
  p {
    grid-column: 2;
    font-size: 20px;
    margin-right: 20px;
  }
  .itemView h2 {
    font-size: 30px;
    margin-top: 0;
  }
  .itemView p:nth-last-of-type(-n + 3) {
    margin-bottom: 0;
    margin-top: 0;
  }
  /* Account Managemenent View Large */
  #accountMg {
    padding: 50px 0px 50px 0px;
    width: 40%;
    margin: 0 auto;
  }
  #invMg {
    margin-left: 2rem;
    width: 50%;
  }
}
