/******* Change Box Model ***************/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#top-header {
  display: flex;
  justify-content: space-between;
}

.siteName a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

#tools a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0 1rem 0;
  list-style: none;
  background-color: black;
  /* color: white; */
}
nav ul a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 25px;
}

/* Body Styling  */
#container1 {
  position: relative;
  margin-bottom: 5rem;
}

#overview {
  display: flex;
  flex-direction: column;
  width: 120px;
  margin-left: 10px;
  background-color: rgb(214, 214, 214, 0.7);
  color: black;
}

#overview ul {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
}

#overview h2 {
  font-size: 18px;
  margin: 0;
}

.button {
  width: 100px;
}

#hero-img {
  width: 75%;
  position: absolute;
  top: 0;
  right: 3rem;
  z-index: -1;
}

#review-list ul {
  line-height: 30px;
  padding-left: 20px;
  font-size: 19px;
}

#updates {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
#updates h2 {
  grid-column: span 2;
}

#updates a {
  font-size: 20px;
}

.img-cont {
  padding: 1rem;
  background-color: lightgrey;
  height: 100px;
}

.img-cont img {
  height: 100%;
  object-fit: cover;
}
/* flash msg */
.notice li {
  list-style: none;
  color: #b50c0c;
  font-size: 25px;
  font-style: italic;
}
.notice {
  padding-left: 0px;
}
/* Classifications View */
#inv-display {
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
  padding: 0;
  /* text-wrap: wrap; */
}
#inv-display li {
  margin: 0 auto 1rem;
  border: solid 2px lightgray;
  height: auto;
  width: 270px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#inv-display img {
  width: 100%;
  height: 150px;
}
#inv-display hr {
  height: 5px;
  background-color: black;
}
.namePrice {
  padding: 2em;
}
.namePrice a {
  color: black;
  text-decoration: none;
}

/* Item detailed view */
.itemView img {
  width: 90%;
}
.itemView {
  text-align: center;
  font-size: 25px;
}
.itemView h2,
.font-style {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #b50c0c;
}
/* error page styling */
#error-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
#error-h {
  font-size: 80px;
  color: #b50c0c;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}
#error-div p {
  font-size: 30px;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.error-img {
  width: 70%;
  margin: 0 auto;
}
/* Form Styling */
#account-h {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
#account-div {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: #030337;
  width: 80%;
  max-width: 400px;
  color: white;
  font-size: 25px;
  padding: 2rem;
  border-radius: 8px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container form input {
  padding: 15px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
}

.login-container label {
  width: 100%;
}

.login-container button {
  text-align: center;
  margin-top: 2rem;
  padding: 15px;
  margin: 1rem auto;
  width: 60%;
  background-color: #c4c4c4;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
.login-container legend {
  margin-bottom: 2rem;
}
.login-container textarea {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 20px;
}
.login-container textarea:required:invalid,
textarea:focus:invalid {
  border-bottom: red solid 10px;
}
.login-container textarea:required:valid {
  border-bottom: green solid 10px;
}
#classificationList {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 20px;
}
.regiter-box {
  margin-top: 2rem;
}
.login-container a {
  color: white;
  text-align: center;
  margin-top: 1rem;
}
.password-container {
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
  padding-right: 30px;
}
.login-container input:required:invalid,
input:focus:invalid {
  border-bottom: red solid 10px;
}
.login-container input:required:valid {
  border-bottom: green solid 10px;
}
#pass-msg {
  font-size: 15px;
  text-align: center;
}
#pswdBtn {
  cursor: pointer;
  margin-left: -35px;
}
/* Account Management View Mobile */
#accountMg {
  text-align: center;
}
#accountMg h2 {
  font-family: "Chakra Petch", sans-serif;
}
#accountMg hr {
  width: 300px;
  height: 10px;
  background-color: #b50c0c;
}
#accountMg p {
  padding-bottom: 2rem;
}
#accountMg a::before {
  content: "🚩 ";
}
#accountMg a {
  color: black;
  text-decoration: none;
}
#accountMg h3 {
  padding-top: 1rem;
}
/* Admin Table */
.tableh,
.tablep {
  text-align: center;
  font-family: "Black Ops One", system-ui;
}
#admin-users {
  width: 20%;
  border-collapse: collapse;
  /* margin: 20px 0 0; */
  font-size: 16px;
  color: #333;
}
#admin-users {
  font-size: 14px;
}

#admin-users th,
#admin-users td {
  padding: 8px;
}

#admin-users button {
  padding: 8px 16px;
  font-size: 14px;
}
