<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice2">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
  <div id="invMg">
    <a href="/inv/newClass">Add New Classification</a><br>
    <a href="/inv/newVehicle">Add New Vehicle</a>
<h2>Manage Inventory</h2>
<p>Please select a classification from the list to see the items belonging to that category</p>
<%- classificationList %>
<table id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
