<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    <a href="./newClass">Add New Classification</a><br>
    <a href="./newVehicle">Add New Vehicle</a>

    <%#- grid %>
    <%# messages() %>